* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
  
:root {
    --background-color: #f2f1f0;
    --text-color: #00273d;
    --pink-color: #925250;
    --blue-color: #a3bcd0;
}

/*---------------------------------------------------------------BODY*/

body {
    margin: 0;
    min-height: 90vh;
    background-color: var(--background-color);
    font-family: 'proxima-nova';
    position: relative;
    padding-bottom: 60px;
    font-weight: 300;
}

h1 {
    font-size: 30px;
    margin-bottom: 16px;
}


/*----------------------------------------------------------BOXES*/

.holdingbox1 {
    width: 100%;
    box-sizing:border-box;
    padding-top: 80px;
    display:flex;
    flex-direction: row;
    align-content:center;
    text-align: center;
}

.holdingbox2 {
    width: 100%;
    box-sizing:border-box;
    padding-top: 80px;
    display:flex;
    flex-direction: row;
    align-content:center;
    text-align: center;
}

.holdingbox3 {
    width: 100%;
    box-sizing:border-box;
    padding-top: 80px;
    display:flex;
    flex-direction: row;
    align-content:center;
    text-align: center;
}

.holdingbox4 {
    width: 100%;
    box-sizing:border-box;
    padding-top: 80px;
    display:flex;
    flex-direction: row;
    align-content:center;
    text-align: center;
}

.long {
    flex: 1;
    background-color: var(--background-color);
    padding-top: 0;
    padding-right:20px;
    padding-left: 100x;
    margin: 5px;
    align-content: center;
    text-align: center;
}

.long h1 {
    font-weight: 700;
    color: var(--blue-color);
}

.long p {
    font-size: 22px;
    color: var(--text-color);
}

.left {
    flex: 1;
    background-color: var(--background-color);
    padding-top: 0;
    padding-right:20px;
    padding-left: 100px;
    margin: 5px;
    align-content: center;
    text-align: center;
}
 
.left h1 {
    font-weight: 700;
    color: var(--blue-color);
}

.left p {
    font-size: 22px;
    color: var(--text-color);
}

.right {
    flex: 1;
    background-color: var(--background-color);
    padding-left: 20px;
    padding-right: 100px;
    padding-bottom: 20px;
    font-size: 18px;
    margin: 5px;
    text-align: center;
    align-content: center;
}

.right h1 {
    font-weight: 700;
    color: var(--blue-color);
}

.right p {
    font-size: 22px;
    color: var(--text-color);
}



  
/*---------------------------------------------------------BOXES END*/

/* ---------------- NAVIGATION ---------------- */

.navig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'logo product';
}
.socials{
    grid-area: social-icons;
    display: none;
}

.logo{
    grid-area: logo;
    padding-left: 40px;
    padding-top: 40px;
}

.products{
    grid-area: product;
    text-align: right;
    padding-right: 40px;
}

.catalog{
    padding-top: 50px;
    font-weight: 250;
    color: var(--text-color);
    text-transform: uppercase;
}

/* ---------------- NAVIGATION END ---------------- */

/*-----------------------------------------------------------------FOOTER*/

footer{
    background: var(--text-color);
    padding: 50px 0;
    text-align: center;
  }
  
footer p{
    color: var(--background-color);
    font-size: 14px;
}

/*-----------------------------------------------------------------MEDIA*/
  
@media screen and (min-width: 768px) {
    
    .holdingbox {
      flex-direction: column;
    }

    .navig {
        padding-top: 10px;
        grid-template-columns: 3fr 2fr 2fr;
        grid-template-areas: 'socials logo product';
    }

    .socials{
        display: block;
    }

    .logo{
        padding-left: 0;
    }

    .catalog{
        padding-right: 70px;
    }

    ul{
        overflow: hidden;
        padding-left: 70px;
        padding-top: 60px;
    }

    li{
        display:inline-block;
    }
}

