* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
  
:root {
    --background-color: #f2f1f0;
    --text-color: #00273d;
    --pink-color: #925250;
    --blue-color: #a3bcd0;
}

/*---------------------------------------------------------------BODY*/

body {
    margin: 0;
    background-color: var(--background-color);
    font-family: 'proxima-nova';
    position: relative;
    padding-bottom: 60px;
    min-height: 90vh;
}

h4 {
    font-family: 'proxima-nova';
    font-size: 16px;
    margin-bottom: 16px;
}

a {
    color: var(--text-color);
}
/*----------------------------------------------------------BOXES*/
.holdingbox {
    width: 100%;
    box-sizing:border-box;
    padding-top: 80px;
    display:flex;
    flex-direction: row;
}

.left {
    flex: 1;
    background-color: var(--background-color);
    padding-top: 0;
    margin: 5px;
    text-align: center;
    align-content: center;
}
  
.right {
    flex: 1;
    background-color: var(--background-color);
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    font-size: 18px;
    margin: 5px;
    text-align: left;
}

.right h1 {
    font-family: 'proxima-nova';
    font-weight: bold;
    color: var(--blue-color);
}

.right p {
    font-family: 'proxima-nova';
    font-size: 18px;
}

.right a {
    font-family: 'proxima-nova';
    font-weight: bold;
    font-size: 18px;
    color: var(--blue-color);
    text-decoration: none;
    color: var(--blue-color);
}


.right a:hover {
    color: var(--text-color);
}


  
/*---------------------------------------------------------BOXES END*/

/* ---------------- NAVIGATION ---------------- */

nav {
    height: 70px;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-between;
}


.logo {
    display: flex;
    align-items: center;
    width: auto;
    margin: 0;
}

.logo-img {
    margin-top: 15px;
}

.nav-list {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 70px;
    background: var(--background-color);
    float: right;
    text-align: right;
    padding-right: 20px;
    transform-origin: left;
    transition: all .2s;
}

.nav-list li{
    opacity: 0;
    line-height: 30px;
    transition: all .5s;
    margin: 50px 0;
}

.nav-list li a{
    color: var(--text-color);
    font-size: 15px;
}

.nav-list li a.active,.nav-list li a:hover{
    font-weight: 600;
    transition: 0.2s;
}

.logo-txt.active,.logo-txt:hover{
    font-weight: 600;
    transition: 0.2s;
}

.menu-btn.active,.menu-btn:hover{
    font-weight: 600;
    transition: 0.2s;
}

.menubtn{
    display: block;
    font-size: 15px;
    color: var(--text-color);
    float: right;
    line-height: 40px;
    margin-top: 15px;
    margin-right: 20px;
    cursor: pointer;
}

#check{
    display: none;
}

#check:checked ~ .nav-list{
    height: 100vh;
}

#check:checked ~ .nav-list li{
    opacity: 1;
}


/* ---------------- NAVIGATION ---------------- */